/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace views "com.elicng.hangman.views.*";
@namespace controls "com.elicng.hangman.controls.*";

@font-face {
	src: url("/content/fonts/Roboto-Regular.ttf");
	fontFamily: Roboto;
	embedAsCFF: true;
}

@font-face {
	src: url("/content/fonts/Roboto-Bold.ttf");
	fontFamily: RobotoBold;
	embedAsCFF: true;
}

global
{
	fontFamily: Roboto;
	fontSize: 22px;
}

s|ActionBar {
	skinClass: ClassReference("com.elicng.hangman.controls.skins.ActionBarSkin");
}

s|ViewNavigatorApplication {
}

s|View {
	backgroundColor: #E7ECE6;
}

s|Label {
	color: #33B5E5;
	fontSize: 18px;
}
	
views|Menu s|Button {
	skinClass: ClassReference("com.elicng.hangman.controls.skins.ButtonMenuSkin");
	fontFamily: OpenSansRegular;
	fontSize: 25px;
}

views|Menu #lblTitle {
	fontSize:40px;
}

s|DataGroup {
	contentBackgroundAlpha: 0;
}

.refresh {
	icon: Embed(source="/content/images/icons/refresh.png")
}

